<div class="dijkstra-demonstrator">
    <div class="map">
        <svg viewBox="0 30 400 540" width="530" height="700">
            <image width="400" height="600" xlink:href="maps/vk2500-l-fg/vk2500-l-fg.png" />
            <svg-graph ref="svg_graph" :graph="graph" :click-handler="vertex_clicked"></svg-graph>
        </svg>
        <div class="map-legal">
            Grafisch freigestellter Kartenauszug | © GeoBasis-DE / <a href="http://www.bkg.bund.de" target="blank">BKG</a> 2018 (Daten verändert)
        </div>
    </div>
    <div class="controls">
        Verzögerung: <input type="range" min="10" max="5000" v-model="dijkstra_timeout"> {{ dijkstra_timeout }}ms
        <table class="dijkstra-table" v-if="dijkstra_status != null">
        <thead>
            <tr>
                <th></th>
                <th>Besucht</th>
                <th v-for="key in vertex_keys">{{ key }}</th>
            </tr>
        </thead>
        <tbody>
            <template>
                <dijkstra-table-row v-for="history_entry, index in dijkstra_status.history" :distances="history_entry.distances" :current_vertex="history_entry.current_vertex" :step="index"></dijkstra-table-row>
                <dijkstra-table-row :distances="dijkstra_status.distances" :current_vertex="dijkstra_status.current_vertex" :step="dijkstra_status.history.length"></dijkstra-table-row>
            </template>
        </tbody>
        </table>
    </div>
    <div class="clear"></div>
</div>